{% form_theme productform 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}
{% block body %}
<style>
   .product_add{
      margin-top:10%;
      margin-bottom:5%;
   }
</style>
<div class="product_add">
   <div class="container col-md-5 mt-5">
   <h1 class="text text-dark text-center">New Product</h1>
   <br>
      {{ form (productform) }}
   </div>
</div>
{% endblock %}