{% form_theme supplierForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}
{% block body %}
<style>
   .supplier_add{
      margin-top:10%;
      margin-bottom:5%;
   }
</style>
<div class="supplier_add">
   <div class="container col-md-6 mt-3 text-center">
      <h2 class="text text-dark text-center">New supplier</h2>
      <br>
      {{ form (supplierForm) }}
   </div>
</div>
{% endblock %}